@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://unpkg.com/nes.css/css/nes.css');

//Colors
$star-black-bg: #111 url(https://dylanshearer.com.au/codepen/nextgen/stars.png) repeat top center;
$blink-color: #fff;
$planet-h1: #099196;
$planet-span: #e7aa44;
$planet-title: #f8a00f;
$intro-color: #00BFFF;

//Images
$card-bg: url(../../assets/images/sw-card-bg.jpg);

//Font family
$font-default: "Press Start 2P";