.planet-list{
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.planet-list ul{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}

.planet-list span{
    color: red;
    font-weight: 600;
}

.planet-list li{
    justify-content: flex-start;
}

.next-btn{
    display: flex;
    position: absolute;
    margin-top: 100px;
    
}