@import url(https://fonts.googleapis.com/css?family=Share+Tech|Oswald);

html, body {
    background: #111;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.intro {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}

.intro {
    margin-top: 20%;
    color: #00BFFF;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 34.6667px;
}

.container-second {
    transition: all 6s ease-in;
}

.container-second .msg-press-start .btn-start {
    transition: all 6s ease-in;
}

.img-banner {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-banner img {
    max-width: 80%;
}

.msg-press-start {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    animation: blink 1s steps(4, start) infinite;
}

.nes-text {
    color: #fff !important;
}

@media (max-width:600px){
    .img-banner {
        margin-top: 150px;
    }

    .img-banner img {
        max-width: 100%;
    }

    .btn-start{
        font-size: 1.25em;
    }
}

@media (min-width: 1800px){
    .img-banner {
        margin-top: 170px;
    }   
}